@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


* {
    box-sizing: border-box;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 34vh;
    --card-width: calc(var(--card-height) / 1.5);
  }

body {
    background: #212534;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}


.text {
    margin-left: 30px;
    margin-right: 30px;
}

h1 {
    display: block;
    text-align: center;
    font-size: 40px;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}



.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-color: #fff;
    border-width: 3px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

/* card animation from Codepen.io*/

.card:hover:before, .card:hover:after {
    animation: none;
    opacity: 0;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 5.5s linear infinite;
    }
  
.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 4.5s linear infinite;
}
  
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}
  
a {
    color: #212534;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}

h2 {
    border: solid rgb(63,94,251);
    border-radius: 5px;
    font-size: 200%;
    text-align: center;
    background-color: rgb(63,94,251);
    position: relative;
    margin-top: -20px;
    padding: 5px;
}

.css-card p {
    display: flex;
    flex-wrap: wrap;
}

.css-code p {
    display: block;
    color: white;
    margin-left: 5px;
    user-select: all;
}


.css-code {
    border-radius: 10px;
    background-image: linear-gradient(rgb(63,94,251) rgb(63,94,251));
}
